.about-container {
  width: 100%;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 10px;
}

.about-content {
  width: var(--layout-width);
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  
}

.description {
  margin-top: auto; 
  margin-bottom: auto;
  width: 100%;
}

p {
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  .about-content {
    width: 70%;
    height: 60%;
    text-align: center;
    flex-direction: column-reverse;
    gap: 50px;
  }

  img {
    height: 200px;
    width: 200px;
  }
 

}
