

.about-container {
    gap: 30px;
    width: 100%;
    height: 400px;
    padding: 30px;
    font-family: 'SF-Pro';
    background: #1b1b1b;
    box-shadow: #515151 30px 13px 27px -3px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10;
}



