.about-container {
  display: flex;
  height: 100%;
}

//The black box
.about-content {
  width: 100%;
  height: var(--container-height);
  background: var(--container-color);
  padding: 20px;
  margin: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.description {
  margin-top: auto; 
  margin-bottom: auto;
  width: 70%;
}

p {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px)  {
  .about-content {
    
  }
}