.timeline-container {
  display: flex;
  height: 100%;
}

//The black box
.timeline-content {
  width: 100%;
  height: var(--container-height);
  padding: 20px;
  margin: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background: var(--container-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.job-card {

}

.job-card:hover {
  scale: 105%;
}

.job-title,
.job-description {
  color: black;
}

.job-title {
  padding: 4px;
  background: #e2e2e2;
}

.job-location {
  color: #414040;
  padding: 4px;
}
