@font-face {
  font-family: "SF-Pro";
  src: url("./assets/fonts/sfpro-regular.OTF") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #CBE4DE;
}

:root {
  --primary: #0F8388;
  --on-primary: #2C3333;
}

::-webkit-scrollbar {
  width: 0.85em;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 75%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 39%);
  border: .15em solid hsl(0, 0%, 80%);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 1%, 52%, 0.5);
}
